@model Recipe.Formatter.ViewModel.RecipeParseResponseViewModel;
@{
    ViewBag.Title = "Result";
}

<link rel="stylesheet" href="~/css/vanilla.css" />

<div class="title">
    <h2>@Model.Recipe?.Title</h2>
</div>
<table>
    <tr>
        <td width="50%">
            <div class="print">
                <h3>Ingredients</h3>
                <ul>
                    @foreach (var ingredient in Model.Recipe?.Ingredients ?? new List<string>())
                    {
                        <li>@ingredient</li>
                    }
                </ul>
                <h3>Instructions</h3>
                <ul>
                    @foreach (var instruction in Model.Recipe?.Instructions ?? new List<string>())
                    {
                    <li>@instruction</li>   }
                </ul>
            </div>
        </td>
        <td width="50%">
            <img width="300" height="300" src="@Model.Recipe?.ImageUrl" />
        </td>
    </tr>
</table>


