body {
    font-family: "Sniglet", system-ui;
    background-image: url("../img/background.png");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.8);
}

.centered {
    text-align: center;
}

.status {
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 4pt;
    padding: 4pt;
}

.status-failure {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.status-success {
    background-color: #dff0d8;
    border-color: #c3e6cb;
    color: #155724;
}

.style-preview {
    width: 200px;
    border-radius: 10px;
    border: 1px solid grey;
}

.rounded-form {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #5cb85c;
}

.line-break {
    margin-top: 20px;
    border-top: 1px dashed lightgray;
}